@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
body {
  font-family: 'Short Stack', cursive;
}

body {
    padding: 0 1em;
    color: #444;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    font-size: 1.5em;
}

h1,
h2,
h3 {
    line-height: 1.2;
    text-align: center;
}

button, input, label {
    cursor: pointer;
}

button {
    width: 100%;
}

.users {
    text-align: left;
    width: max-content;
}

textarea {
    outline: none;
}

textarea#message:focus {
    background-color: #fffb
}